<!-- Modales para las autoevaluaciones -->

  <!-- Lucho -->
<div class="modal" id="luciano-modal">
    <div class="modal-content">
      <button class="close-modal">&times;</button>
      <h2>Autoevaluación de Pérez, Luciano Agustín</h2>
      <div class="modal-body">
        <div class="evaluation-section">
          <h3>¿Qué aportaste al grupo?</h3>
          <p>Durante el trabajo en grupo me encargué principalmente de redactar las actas en varias reuniones (como el 13/04 y el 28/04). Participé junto con otros compañeros en la revisión teórica de las actividades, usando apuntes y resúmenes que habíamos armado. En la ultima fecha (03/05) hice el acta final y subí todo al portfolio, asegurándome de que los registros estuvieran bien organizados.</p>
        </div>
        
        <div class="evaluation-section">
          <h3>¿En qué sentís que aprendiste más?</h3>
          <p>Aprendí bastante sobre cómo organizarnos en un grupo. Si bien quedan cosas que mejorar, pudimos hacer un seguimiento bastante completo de las tareas. El hecho de tener que escribir actas hizo que preste más atención a lo que se discutía para a la hora de redactar, poder hacerlo lo más abarcativo y general posible pero sin extenderme tanto.</p>
        </div>
        
        <div class="evaluation-section">
          <h3>Evaluación de participación</h3>
          <p><strong>Media/Alta</strong>. Estuve presente cada vez que nos juntábamos a hacer las actividades, participé dando mis opiniones respecto a lo que íbamos haciendo e iba colaborando con lo que se necesitaba. Me comprometí con el grupo y traté de cumplir con todo lo que se me asignó lo mejor que pude.</p>
        </div>
        
        <div class="evaluation-section">
          <h3>¿Qué se podría mejorar en el grupo?</h3>
          <p>Creo que podríamos organizarnos un poco mejor en las reuniones que tuvimos por Discord, porque por ahi al estar en un mismo canal de voz y el grupo dividido en grupos más pequeños para hacer ciertas tareas, a veces cuando querias hablar con tu "compañero de actividad" la comunicacion se dificultaba. Pero, en general, considero que el grupo funcionó bien y hubo compromiso por parte de todos.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Benja (Ya esta listo) -->
  
  <div class="modal" id="benjamin-modal">
    <div class="modal-content">
      <button class="close-modal">&times;</button>
      <h2>Autoevaluación de Aquino, Benjamín</h2>
      <div class="modal-body">
        <div class="evaluation-section">
          <h3>¿Qué aportaste al grupo?</h3>
          <p>Mi aporte al grupo fue en sintesis, aplicar lo que ibamos aprendiendo en clase y con el material mismo de la materia , teniendo en cuenta un marco teorico para fundamentar mis correcciones en el desarrollo de todas las actividades, estuve implicado eb correcciones, redacciones y compartiendo apuntes con todos los integrantes del grupo ayudando a llegar a mejores concluciones al evaluar el cumplimientos de las consignas de las actividades que ibamos haciendo en la materia.</p>
        </div>
        
        <div class="evaluation-section">
          <h3>¿En qué sentís que aprendiste más?</h3>
          <p>Siento que en lo que mas aprendi es en tener una mirada mas critica sobre la informacion que recabamos con el grupo , sin estar sesgado por mis intereses personales o otras circuntancias siendo completamente objetivo.</p>
        </div>
        
        <div class="evaluation-section">
          <h3>Evaluación de participación</h3>
          <p>Mi participacion considero que fue <strong>media</strong> , estuve presente en todas las reuniones del grupo y colabore en todas ellas, solo no fui tan relevante en la parte de la codificacion del portafolio</p>
        </div>
        
        <div class="evaluation-section">
          <h3>¿Qué se podría mejorar en el grupo?</h3>
          <p>Considero que el grupo estuvo muy bien en todos los sentidos en organizacion, en comunicacion y en desempeño , considero que lo unico que creo que se podria mejorar es en la definicion de roles desde un principio.</p>
        </div>
      </div>
    </div>
  </div>
  
    <!-- Tincho (Creo que esta xd) -->
  <div class="modal" id="martin-m-modal">
    <div class="modal-content">
      <button class="close-modal">&times;</button>
      <h2>Autoevaluación de Mansilla, Martín</h2>
      <div class="modal-body">
        <div class="evaluation-section">
          <h3>¿Qué aportaste al grupo?</h3>
          <p>Mis aportes durante el desarrollo de las actividades fue tomar notas de lo que se realizó durante las reuniones, organice y asigne tareas para avanzar con las actividades, aporte con el desarrollo del acta, además de participar en las actividades prácticas.</p>
        </div>
        
        <div class="evaluation-section">
          <h3>¿En qué sentís que aprendiste más?</h3>
          <p>Aprendí en lo que respecta al análisis de datos, detectar sesgos en las estadísticas, además de aprender a cómo nos debemos organizar como grupo y trabajar en conjunto.
        </p>
        </div>
        
        <div class="evaluation-section">
          <h3>Evaluación de participación</h3>
          <p>Mi participación fue <strong>media/alta</strong>. Siempre estuve activo en todas las reuniones, realizando las actividades pedidas al igual que la investigación para la misma. </p>
        </div>
        
        <div class="evaluation-section">
          <h3>¿Qué se podría mejorar en el grupo?</h3>
          <p>Considero que la distribución de los roles podría mejorar para que sean rotativos; reuniones constantes pero más cortas, al igual que también implementar algún tipo de checklist en las actividades y revisiones.</p>
        </div>
      </div>
    </div>
  </div>
  
    <!-- Grego -->
  <div class="modal" id="martin-g-modal">
    <div class="modal-content">
      <button class="close-modal">&times;</button>
      <h2>Autoevaluación de Gregorio, Martín</h2>
      <div class="modal-body">
        <div class="evaluation-section">
          <h3>¿Qué aportaste al grupo?</h3>
          <p>Estuve bastante metido en todo. Desde el principio ayudé a organizarnos un poco, tomé notas cuando arrancamos y también revisé una actividad con un compañero para mejorar la redacción. Fui el que propuso hacer el portfolio en GitHub Pages y arranqué un primer diseño con la idea de integrar Trinket para que se pudiera ejecutar código Python desde ahí, lo cual terminó siendo bastante útil. Más adelante me ocupé de actualizar la página y corregir algunos errores junto a otro del grupo.
        </p>
        </div>
        
        <div class="evaluation-section">
          <h3>¿En qué sentís que aprendiste más?</h3>
          <p>Creo que lo que más aprendí fue cómo mostrar mejor la parte técnica, hacerlo más claro y visual para que se entienda bien. También me ayudó un montón a mejorar en el trabajo en equipo: saber cuándo hablar, cuándo escuchar, cómo adaptarme a lo que necesitaba el grupo. Y en lo técnico, usar herramientas como GitHub Pages y Trinket me sirvió para reforzar cosas que ya venía viendo pero ahora las usé en algo concreto.</p>
        </div>
        
        <div class="evaluation-section">
          <h3>Evaluación de participación</h3>
          <p> Mi participación fue <strong>alta</strong>. Siempre estuve presente, tirando ideas, ayudando en la parte técnica, colaborando con la redacción y haciendo cosas sin que me lo pidieran. Traté de sumar desde donde podía y de no colgarme en nada.       </p>
        </div>
        
        <div class="evaluation-section">
          <h3>¿Qué se podría mejorar en el grupo?</h3>
          <p>Creo que estaría bueno mejorar la organización en general del grupo, especialmente a la hora de ordenar los trabajos y definir quién se encarga de qué. Al principio costó un poco coordinarnos y a veces se hablaba todo al mismo tiempo, pero con el tiempo nos fuimos acomodando y salió bien.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Mati -->
  <div class="modal" id="matias-c-modal">
    <div class="modal-content">
      <button class="close-modal">&times;</button>
      <h2>Autoevaluación de Coppes, Matías</h2>
      <div class="modal-body">
        <div class="evaluation-section">
          <h3>¿Qué aportaste al grupo?</h3>
          <p>Elaboré los resúmenes del Tema 2 y Tema 3, y organicé las actividades relacionadas. También creé un documento base para integrar los aportes del grupo en la actividad sobre NO₂.
        </p>
        </div>
        
        <div class="evaluation-section">
          <h3>¿En qué sentís que aprendiste más?</h3>
          <p>Aprendí a organizar contenido teórico de forma clara y útil para el grupo, y a trabajar de forma colaborativa integrando distintos aportes.</p>
        </div>
        
        <div class="evaluation-section">
          <h3>Evaluación de participación</h3>
          <p> Mi participación fue <strong>alta</strong>. Estuve presente en todas las reuniones importantes, tomé iniciativa en la elaboración de materiales y colaboré activamente en las revisiones.        </p>
        </div>
        
        <div class="evaluation-section">
          <h3>¿Qué se podría mejorar en el grupo?</h3>
          <p>Mejorar la planificación inicial para distribuir mejor las tareas y evitar sobrecargas o desorganización.</p>
        </div>
      </div>
    </div>
  </div>

    <!-- Valen (Ya esta listo) -->
  <div class="modal" id="valen-d-modal">
    <div class="modal-content">
      <button class="close-modal">&times;</button>
      <h2>Autoevaluación de Delfín, Valentín</h2>
      <div class="modal-body">
        <div class="evaluation-section">
          <h3>¿Qué aportaste al grupo?</h3>
          <p>Al grupo le aporté sobre todo en la organización y en que el trabajo final quedara bien presentado. A lo largo de las reuniones, fui sumando apuntes e información  complementar la resolución de los distintos puntos, ayudando a que se entendieran mejor los temas y se resolvieran bien las consignas. También colaboré en el formato de los documentos y en la corrección de las redacciones, intentando que todo quede prolijo. Más allá de participar en las actividades como todos, diría que mis aportes más significativos fueron por el lado de que el trabajo estuviese bien estructurado.
        </p>
        </div>
        
        <div class="evaluation-section">
          <h3>¿En qué sentís que aprendiste más?</h3>
          <p>Siento que aprendí más en la parte de organización y trabajo colaborativo, especialmente al momento de las revisiones en conjunto con el grupo. Siempre, en mis grupos, me encargué de casi todo. Formando parte de este grupo, aprendí formas en las que puedo organizarme para desarrollar actividades.</p>
        </div>
        
        <div class="evaluation-section">
          <h3>Evaluación de participación</h3>
          <p><strong>Media.</strong> Si bien no tomé un rol de liderazgo, participé activamente en tareas de apoyo como la redacción, el formato de los documentos y la complementación del contenido. Mi participación se enfocó más en mejorar el resultado final del trabajo, asegurando que estuviera bien.</p>
        </div>
        
        <div class="evaluation-section">
          <h3>¿Qué se podría mejorar en el grupo?</h3>
          <p>Creo que algo que se podría mejorar es la organización al momento de asignar las tareas, para poder distribuirlas de forma que todos tengamos una participación significativa.</p>
        </div>
      </div>
    </div>
  </div>

      <!-- Coffe (Ya esta listo) -->
  <div class="modal" id="agustin-b-modal">
    <div class="modal-content">
      <button class="close-modal">&times;</button>
      <h2>Autoevaluación de Bravo, Agustín</h2>
      <div class="modal-body">
        <div class="evaluation-section">
          <h3>¿Qué aportaste al grupo?</h3>
          <p>En todas las reuniones y trabajos traté de estar presente y aportar mis conocimientos previos. En los distintos encuentros que íbamos teniendo, siempre traté de mantener todo el material que íbamos realizando de forma organizada, lo cual nos ayudó bastante para saber qué teníamos hecho y qué nos faltaba hacer. También hice aportes y correcciones en los diferentes documentos compartidos que tenemos en grupo, así como hice diferentes gráficos junto a Gregorio para tener un portafolios más visual y entendible. Y por último, en estos días me estuve encargando de terminar el portafolios, verificando que el contenido sea correcto y corrigiendo errores que iban surgiendo a medida que agregábamos cosas.
        </p>
        </div>
        
        <div class="evaluation-section">
          <h3>¿En qué sentís que aprendiste más?</h3>
          <p>Aprendí mucho sobre cómo aplicar los conceptos de la materia a situaciones concretas. Por ejemplo, al seleccionar y justificar variables, así como al interpretar datos, pude entender de manera más clara cómo usar la teoría que estuvimos viendo en clases. Aparte, al trabajar en equipo reforcé la importancia de usar los términos y criterios correctos.</p>
        </div>
        
        <div class="evaluation-section">
          <h3>Evaluación de participación</h3>
          <p> Considero que mi participación fue <strong>alta</strong>. Estuve presente en todas las actividades grupales y me comprometí con cada tarea propuesta. No solo participé en la toma de decisiones y la elaboración de las actividades, sino que también estuve atento a lo que mis compañeros necesitaban, tratando de estar disponible siempre que necesiten ayuda para asegurar que el trabajo en grupo fuera ordenado y coherente.</p>
        </div>
        
        <div class="evaluation-section">
          <h3>¿Qué se podría mejorar en el grupo?</h3>
          <p>Creo que podríamos mejorar la organización previa a cada reunión. A veces perdíamos tiempo decidiendo quién se encargaba de qué cosas. Por esto, me parece que contar desde el principio con una división clara de tareas y responsabilidades nos ayudaría a que el trabajo sea más equitativo y también nos permita a cada integrante saber con mayor detalle en qué debemos enfocarnos.
            <br>Pero en general, el grupo trabajó con mucho compromiso y respeto.</p>
        </div>
      </div>
    </div>
  </div>